body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, rgb(27, 139, 106), rgba(13, 160, 228, 0.97));

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding:0;

  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 10%;
    }

.calculator {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 10px #888;
}

/* Resto do CSS permanece inalterado */


#display {
    width: 95%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #87CEFA;
}


#instruction{
    
    
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgb(31, 31, 31);
   margin-bottom: 20px;
   clear: both;
   color: white;
  
   
  
}

#instruction p{
    font-family: sans-serif;
    font-size: 25px;
}

.lista-instruction{
    text-align: justify;
     
    font-size: 25px;
    font-family: sans-serif;


}

.header{
   
  
    background-color:#4682B4; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
    padding: 0px 0; /* 40px de padding em cima e embaixo, 0 de padding nos lados */
    width: 100%;
    clear: both;
    position:absolute;
    z-index: 999;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
    

}

#cabeçalho {
  
   
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-shadow: 1px 1px 2px rgb(31, 31, 31);
    margin-bottom: 20px;
    text-align: center;
}

#caixa-instruction{
    display: flex;
    flex-direction: column;
    
    width: 1000px;
    height: auto;
    margin: auto;
}

.p-final{
    display: flex;
    flex-direction: column;
   
    width: 1000px;
    height: auto;
    margin: auto;
}

#rodape{
   
    display: flex;
    flex-direction:row;
    z-index: 999;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 10px;
    padding-left: 47%;
   
}

#rodape footer{
   
    width: auto;
    color: white;
    text-shadow: 1px 1px 2px rgb(31, 31, 31);
}